<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xadp5.ps2g_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".Main_SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewAccount" />
        <activity android:name=".ClientPage" />
        <activity android:name=".AdminHome" />
        <activity android:name=".AdminPage" />
        <activity android:name=".NewProject" />
        <activity android:name=".EditProjectInfo" />
        <activity android:name=".OtherServices" />
        <activity android:name=".AboutUs"></activity>
    </application>

</manifest>